body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1040px;
    background-color: blue;
    color: aqua;
}

h1 {
    text-align: center;
    
}

table {
    display: block;
    background-color: aqua;
    margin: 0 auto;
    gap: 20px;
    margin-bottom: 50px;
    color: rgb(159, 27, 27);
}

form {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

button {
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    padding: 5px 16px;
    width: 120px;
    border-radius: 5px;
}

#day {
    width: 150px;
}
